
<h3>Nova postagem</h3>
<div class="card edit">
  <div class="card-body">
 
    <form action="/admin/postagens/adicionar" method="POST">
      <label for="titulo">Título</label>
      <input type="text" name="titulo" id="" class="form-control" >
      <label for="slug">Slug</label>
      <input type="text" name="slug" id="" class="form-control" >
      <label for="titulo">Descrição</label>
      <input type="text" name="descricao" id="" class="form-control" >
      <label for="conteudo">Conteúdo</label>
      <textarea name="conteudo" class="form-control"></textarea>
 <label for="categoria">Categoria</label>
<select name="categoria" class="form-select form-select-lg mb-3">
  {{#if categorias.length}}
    {{#each categorias}}
      <option class="select form-control" value="{{_id}}">{{nome}}</option>
    {{/each}}
  {{else}}
    <option value="0">Nenhuma categoria registrada</option>
  {{/if}}
</select>

<div class="erros">
  {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
</div>
      <button class="btn btn-success mt-1 " type="submit">Criar postagem</button>
    </form>
  </div>
</div>